<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Pirate Name: <%= @pirate.name %></p>
	<p>Pirate Weight: <%= @pirate.weight %></p>
	<p>Pirate Height: <%= @pirate.height %></p>
	<p>Ship 1 Name: <%= @ship1.name %></p>
	<p>Ship 1 Type: <%= @ship1.type %></p>
	<p>Ship 1 Booty: <%= @ship1.booty %></p>
	<p>Ship 2 Name: <%= @ship2.name %></p>
	<p>Ship 2 Type: <%= @ship2.type %></p>
	<p>Ship 2 Booty: <%= @ship2.booty %></p>
</body>
</html>